{% extends 'login_base.html' %}

{% block title %} Admin Signup {% endblock %}
{% block content %}
<div class="main-page">
    <div class="sign-up-admin">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
                <div class="mb-3">
                    <h2>Admin Sign Up</h2> <hr>
                </div>
                <div class="mb-sm-2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary" role="alert">
                                    {{ message }} <a class="other-links" href="{{url_for('login')}}">Click here to login</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="mb-sm-2">
                    {{ form.admin_number.label }}<br>
                    {{ form.admin_number(placeholder="Your admin number") }}<br>
                    {% if form.admin_number.errors %}
                        <ul class="errors">
                            {% for error in form.admin_number.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.id_number.label }}<br>
                    {{ form.id_number(placeholder="Your ID/passport number") }}<br>
                    {% if form.id_number.errors %}
                        <ul class="errors">
                            {% for error in form.id_number.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.title.label }}<br>
                    {{ form.title }}<br>
                    {% if form.title.errors %}
                        <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.first_name.label }}<br>
                    {{ form.first_name(placeholder="Your first names") }}<br>
                    {% if form.first_name.errors %}
                        <ul class="errors">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.surname.label }}<br>
                    {{ form.surname(placeholder="Your surname") }}<br>
                    {% if form.surname.errors %}
                        <ul class="errors">
                        {% for error in form.surname.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.gender.label }}<br>
                    {{ form.gender }}<br>
                    {% if form.gender.errors %}
                        <ul class="errors">
                        {% for error in form.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.address.label }}<br>
                    {{ form.address(placeholder="Your address e.g. 11 Thora Cres") }}<br>
                    {% if form.address.errors %}
                        <ul class="errors">
                        {% for error in form.address.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.car_reg.label }}<br>
                    {{ form.car_reg(placeholder="SV45TTGP") }}<br>
                    {% if form.car_reg.errors %}
                        <ul class="errors">
                        {% for error in form.car_reg.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.phone.label }}<br>
                    {{ form.phone(placeholder="Your cellphone e.g. 0723334444") }}<br>
                    {% if form.phone.errors %}
                        <ul class="errors">
                        {% for error in form.phone.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.email.label }}<br>
                    {{ form.email(placeholder="Your email e.g. you@example.com") }}<br>
                    {% if form.email.errors %}
                        <ul class="errors">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.password.label }}<br>
                    {{ form.password(placeholder="Type your password") }}<br>
                    {% if form.password.errors %}
                        <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-sm-2">
                    {{ form.confirmPassword.label }}<br>
                    {{ form.confirmPassword(placeholder="Retype your password") }}<br>
                    {% if form.confirmPassword.errors %}
                        <ul class="errors">
                        {% for error in form.confirmPassword.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.upload.label }}<br>
                    {{ form.upload }}<br>
                    {% if form.upload.errors %}
                        <ul class="errors">
                        {% for error in form.upload.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    <div>
    </div>
</div>
{% endblock %}