<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<header>
      <div class="headerCol">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="logoCol"><a class="logo-text"> Smart Security Lock System </a></div>
            </div>
            <div class="col">
              <div class="d-md-none">
                <button class="navToggle">
                  <span class="navToggle__text">Toggle Menu</span>
                </button>
              </div>
                <div class="navCollapseCol">
                <div class="navCol">
                  <ul>
                      <li><a href="{{ url_for('login') }}">Login</a></li>
                      <li><a href="{{ url_for('home') }}">Sign Up</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
{% block content %} {% endblock %}
<script src="static/js/script.js"></script>
<footer class="footer">
    <div class="lightBg">
        <div class="footerCol">
            <div class="container">
                <ul class="socialCol">
                    <li><a href="#"><img src="{{url_for('static', filename='images/fb.svg')}}" alt="..."></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='images/insta.svg')}}" alt="..."></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='images/twitter.svg')}}" alt="..."></a></li>
                </ul>
            </div>
            <div class="copyrightCol">
                <p class="footer-text">© 2022 Copyright: Security Company</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>