
<table id="register" style="background: white">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Time In</th>
            <th>Time Out</th>
        </tr>
    </thead>
    <tbody>
        {% for item in register %}
        <tr>
            <td>{{item.user.first_name}}</td>
            <td>{{item.user.surname}}</td>
            <td>{{item.user.address}}</td>
            <td>{{item.user.phone}}</td>
            <td>{{item.time_in}}</td>
            <td>{{item.time_out}}</td>
        </tr>
        {% endfor %}
    </table>