{% block scripts %}
<script>
$(document).ready(function() {
    $('#residents tr').click(function () {
        let href = $(this).find("a").attr("href");
        if (href) {
            window.location = href;
        }
    });
});
</script>
{% endblock %}
<table id="residents" style="background: white">
    <thead>
        <tr>
            <th>First name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for resident in residents %}
        <tr>
            <td><a href="/admin-profile/{{resident.id}}">{{resident.first_name}}</a></td>
            <td>{{resident.surname}}</td>
            <td>{{resident.phone}}</td>
            <td>{{resident.email}}</td>
            <td>{{resident.address}}</td>
            <td>
                <a class="other-links" href="/delete-resident/{{resident.id}}">Delete</a><br>
            </td>
        </tr>
        {% endfor %}
    </table>