{% extends 'login_base.html' %}

{% block title %} Verification {% endblock %}

{% block content %}
<div class="main-page">
	<div class="verify-container">
        <span>&#9989;</span>
		<h3 style="color: darkgreen">Verified</h3>
		<p style="color: #0a53be">{{check}}</p>
		<p style="color: #0a53be">{{tm}}</p>
		<p>Title: {{user.title.capitalize()}}</p>
		<p>First Name: {{user.first_name.capitalize()}}</p>
		<p>Surname:	{{user.surname.capitalize()}}</p>
		<img src="../static/photos/{{user.profile_image}}" alt="{{user.first_name}}"></img>
	</div>
</div>
{% endblock %}