{% extends 'base.html' %}

{% block title %} Add Visitor {% endblock %}
{% block content %}
<div class="main-page">
    <div class="table-container">
        <H2>Visitors</H2>
        <form class="search">
            <input type="text" placeholder="Filter.." name="search_text-visitors" id="search_text-visitors">
        </form> <br>
        <div id="result-visitors"></div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}