{% extends 'base.html' %}

{% block title %} Visitor {% endblock %}

{% block content %}
<div class="main_container">
	<h3>Visitor Details</h3>
   <table>
			<tr>
				<td>ID/Passport Number:	</td>
				<td>{{visitor.id_number}}</td>
			</tr>
	   		<tr>
				<td>Title:	</td>
				<td>{{visitor.title.capitalize()}}</td>
			</tr>
			<tr>
				<td>First Name:	</td>
				<td>{{visitor.first_name.capitalize()}}</td>
			</tr>
            <tr>
				<td>Surname:	</td>
				<td>{{visitor.surname.capitalize()}}</td>
			</tr>
	   		<tr>
				<td>Gender:	</td>
				<td>{{visitor.gender.capitalize()}}</td>
			</tr>
			<tr>
				<td>Phone:	</td>
				<td>{{visitor.phone}}</td>
			</tr>
			<tr>
				<td>Email:	</td>
				<td>{{visitor.email}}</td>
			</tr>
			<tr>
				<td>Address:	</td>
				<td>{{visitor.address}}</td>
			</tr>
			<tr>
				<td>Car Reg:	</td>
				<td>{{visitor.car_reg.upper()}}</td>
			</tr>
	    </table>
	<img src="../static/photos/{{visitor.profile_image}}" alt="{{visitor.first_name}}"></img>
</div>
{% endblock %}